node_modules/
npm-debug.log
logs
*.log
pids
*.pid
*.seed
*.pid.lock
lib-cov
coverage
.grunt
bower_components
lib/bundle.js
lib/bundle.js.map
jspm_packages/
*.tsbuildinfo
.npm
.eslintcache
.nuxt
dist
.out
.storybook-out
/.svelte-kit
.vscode/
.idea/
.DS_Store
*.sublime-project
*.sublime-workspace
*.log
*.pid
*.swp
*.tmp
*.temp
*.bak
*.old
!out